<!-- registro-cita.component.html -->

<div>
    <h2>Registro de Cita</h2>
  
    <form (submit)="registrarCita()">
      <div>
        <label for="motivo">Motivo:</label>
        <input type="text" id="motivo" [(ngModel)]="motivo" name="motivo" required>
      </div>
  
      <div>
        <label for="fechaHora">Fecha y Hora:</label>
        <input type="datetime-local" id="fechaHora" [(ngModel)]="fechaHora" name="fechaHora" required>
      </div>
  
      <div>
        <label for="doctor">Seleccionar Doctor:</label>
        <select id="doctor" [(ngModel)]="doctorId" name="doctorId" required>
          <option *ngFor="let doctor of doctores" [value]="doctor.id">{{ doctor.nombre }}</option>
        </select>
      </div>
  
      <button type="submit">Registrar Cita</button>
    </form>
  </div>